.options-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 25px;
    box-shadow: 24px;
    padding: 20px;

    &__settings {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;

        & > label > :nth-child(2) {
            
        }

        & + button {
            
        }
    }
}

@media (max-width: 768px) {
    .options-modal {
        width: 66vw;
    }
}