.switchGroupContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.modalContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 25px;
    box-shadow: 24px;
    padding: 20px;
}

@media (max-width: 768px) {
    .modalContainer {
        width: 66vw;
    }
}