.workoutBlockCard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background: ivory;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
}

.workoutTitle {
    font-size: x-large;
    margin-bottom: 20px;
    text-align: center;
}
