.dodButton {
    border: 1px solid cornflowerblue;
    border-radius: 1rem;
    padding: .5rem;
    text-align: center;
    color: cornflowerblue;
    cursor: pointer;
    text-transform: uppercase;
    width: fit-content;

    &.disabled {
        background: grey;
        cursor: default;

        &:hover {
            transition: none;
            transform: none;
            box-shadow: none;
        }
    }
}