.dodButton {
    background: cornflowerblue;
    border-radius: 5rem;
    padding: 1rem;
    text-align: center;
    width: fit-content;
    color: white;
    cursor: pointer;

    &:hover {
        transition: transform .2s;
        transform: translateY(-.4rem);
        box-shadow: 0 .4rem .8rem 0 rgba(black,0.2);
    }

    &.disabled {
        background: grey;
        cursor: default;

        &:hover {
            transition: none;
            transform: none;
            box-shadow: none;
        }
    }
}