@import "../../mixins.scss";

.coachzone {
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: all 2s;

    &__workout-container {
        display: flex;
        width: 100%;
        height: 100%;

        //zeus
        & > :nth-child(1) {
            & > .godBackground {
                position: absolute;
                height: 100%;
                width: 100%;
                background-image: url(/images/godBackgrounds/zeus.png);
                background-position: center;
                background-repeat: no-repeat;
                transform: scale(1.1);
                filter: blur(.3rem);
            }

            & > .coachcard__icons > .coachcard__icons__wrapper {
                background: #FFBF00;
                padding: .3rem;
                border-radius: 50%;
                border: 1px solid white;
            }
        }

        //poseidon
        & > :nth-child(2) {
            & > .godBackground {
                position: absolute;
                height: 100%;
                width: 100%;
                background-image: url(/images/godBackgrounds/poseidon.png);
                background-position: center;
                background-repeat: no-repeat;
                transform: scale(1.1);
                filter: blur(.3rem);
            }

            & > .coachcard__icons > .coachcard__icons__wrapper {
                background: blue;
                padding: .3rem;
                border-radius: 50%;
                border: 1px solid white;
            }
        }

        //hades
        & > :nth-child(3) {
            & > .godBackground {
                position: absolute;
                height: 100%;
                width: 100%;
                background-image: url(/images/godBackgrounds/hades.png);
                background-position: center;
                background-repeat: no-repeat;
                transform: scale(1.1);
                filter: blur(.3rem);
            }

            & > .coachcard__icons > .coachcard__icons__wrapper {
                background: purple;
                padding: .3rem;
                border-radius: 50%;
                border: 1px solid white;
            }
        }

        //ares
        & > :nth-child(4) {
            & > .godBackground {
                position: absolute;
                height: 100%;
                width: 100%;
                background-image: url(/images/godBackgrounds/ares.png);
                background-position: center;
                background-repeat: no-repeat;
                transform: scale(1.1);
                filter: blur(.3rem);
            }

            & > .coachcard__icons > .coachcard__icons__wrapper {
                background: orangered;
                padding: .3rem;
                border-radius: 50%;
                border: 1px solid white;
            }
        }

        //apollo
        & > :nth-child(5) {
            & > .godBackground {
                position: absolute;
                height: 100%;
                width: 100%;
                background-image: url(/images/godBackgrounds/apollo.png);
                background-position: center;
                background-repeat: no-repeat;
                transform: scale(1.1);
                filter: blur(.3rem);
            }

            & > .coachcard__icons > .coachcard__icons__wrapper {
                background: #FFDB58	;
                padding: .3rem;
                border-radius: 50%;
                border: 1px solid white;
            }
        }

        //aphrodite
        & > :nth-child(6) {
            & > .godBackground {
                position: absolute;
                height: 100%;
                width: 100%;
                background-image: url(/images/godBackgrounds/aphrodite.png);
                background-position: center;
                background-repeat: no-repeat;
                transform: scale(1.1);
                filter: blur(.3rem);
            }

            & > .coachcard__icons > .coachcard__icons__wrapper {
                background: pink;
                padding: .3rem;
                border-radius: 50%;
                border: 1px solid white;
            }
        }

        //hermes
        & > :nth-child(7) {
            & > .godBackground {
                position: absolute;
                height: 100%;
                width: 100%;
                background-image: url(/images/godBackgrounds/hermes.png);
                background-position: center;
                background-repeat: no-repeat;
                transform: scale(1.1);
                filter: blur(.3rem);
            }

            & > .coachcard__icons > .coachcard__icons__wrapper {
                background: green;
                padding: .3rem;
                border-radius: 50%;
                border: 1px solid white;
            }
        }

        //hera
        & > :nth-child(8) {
            & > .godBackground {
                position: absolute;
                height: 100%;
                width: 100%;
                background-image: url(/images/godBackgrounds/hera.png);
                background-position: center;
                background-repeat: no-repeat;
                transform: scale(1.1);
                filter: blur(.3rem);
            }

            & > .coachcard__icons > .coachcard__icons__wrapper {
                background: red;
                padding: .3rem;
                border-radius: 50%;
                border: 1px solid white;
            }
        }

        //hercules
        & > :nth-child(9) {
            & > .godBackground {
                position: absolute;
                height: 100%;
                width: 100%;
                background-image: url(/images/godBackgrounds/hercules.png);
                background-position: center;
                background-repeat: no-repeat;
                transform: scale(1.1);
                filter: blur(.3rem);
            }

            & > .coachcard__icons > .coachcard__icons__wrapper {
                background: black;
                padding: .3rem;
                border-radius: 50%;
                border: 1px solid white;
            }
        }

        //athena
        & > :nth-child(10) {
            & > .godBackground {
                position: absolute;
                height: 100%;
                width: 100%;
                background-image: url(/images/godBackgrounds/athena.png);
                background-position: center;
                background-repeat: no-repeat;
                transform: scale(1.1);
                filter: blur(.3rem);
            }

            & > .coachcard__icons > .coachcard__icons__wrapper {
                background: royalblue;
                padding: .3rem;
                border-radius: 50%;
                border: 1px solid white;
            }
        }
    }
}

@keyframes showSlowly {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes moveLeft {
    to {
        transform: translate(-6rem, -26rem) scale(1.3)
    }
}

@keyframes moveRight {
    to {
        transform: translate(6rem, -26rem) scale(1.3)
    }
}

@keyframes rotateLeft {
    from {
      transform: translate(-6rem, -26rem) scale(1.3) rotateY(0deg);
    }
    to {
      transform: translate(-6rem, -26rem) scale(1.3) rotateY(359deg);
    }
}

@keyframes rotateRight {
    from {
      transform: translate(6rem, -26rem) scale(1.3) rotateY(0deg);
    }
    to {
      transform: translate(6rem, -26rem) scale(1.3) rotateY(359deg);
    }
}

.coachcard {
    position: relative;
    display: flex;
    flex-basis: 10%;
    flex-direction: column;
    background-color: white;
    height: 100%;
    transition: all 1s;
    width: 10%;
    background-color: rgba(white, .2);
    border: 1px solid black;
    overflow: hidden;

    &__workoutname {
        opacity: 0;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        z-index: 999;
        color: black;
        padding: 0.5rem;
        width: fit-content;
        margin: 1.5rem auto;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 1rem;
    }

    &__icons {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &__wrapper {
            position: absolute;

            & > img {
                height: 2.5rem;
                width: 2.5rem;
                font-size: 2rem !important;
            }
        }
    }

    &__workout {
        opacity: 0;
        display: none;
        
    }

    &__confirmbutton {
        margin: 1rem 0rem;
        width: 100%;
        display: flex;
        justify-content: center;
        opacity: 0;

        & > button {
            width: 80%;
            font-size: 1.2rem;
            background: white;
            border-radius: 3rem;
        }
    }
    
    &:hover {
        cursor: pointer;
        flex-basis: 40%;
        transition: all 1s;

        & > .godBackground {
            filter: blur(.1rem);
            transition: all 1s;
        }

        .coachcard__icons__wrapper {
            transition: all 1s;
            background: transparent !important;
            border: none !important;
        }

        .coachcard__workout {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 5;
            animation-name: showSlowly;
            animation-duration: 1.5s;
            animation-fill-mode: forwards;
        }

        .coachcard__workoutname {
            transition: all 2s;
            opacity: 1;
        }

        .coachcard__icons {
            transition: all 1s;

            & > :nth-child(1) {
                animation: moveLeft 1s;

                & > img {
                    font-size: 1.5rem !important;
                    transition: all 1s;
                    animation: rotateLeft 3s linear infinite; 
                }
            }
            
            & > :nth-child(2) {
                animation: moveRight 1s;

                & > img {
                    font-size: 1.5rem !important;
                    transition: all 1s;
                    animation: rotateRight 3s linear infinite; 
                }
            }
        }

        .coachcard__confirmbutton {
            opacity: 1;
            transition: all 1s;
            transition-delay: 0.6s;

            & > button:hover {
                transition: all .5s;
                transform: translateY(-.5rem);
                background: white;
                box-shadow: 0 .2rem 3rem 0 rgba(0,0,0,.2);
            }
        }
    }
}

.coachworkout {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    height: 100%;
    width: 100%;

    &__column {
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        background: rgba(white, .8);
        border-radius: 2rem;

        &__exercise {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;

            &__suit {
                height: 4rem;
                padding: 0.5rem;
            }

            &__row {
                display: flex;
                align-items: center;

                & > svg {
                    font-size: 3rem;
                }
            }
        }
    }
}

@mixin mobileStyles {
    .coachzone__workout-container {
        display: flex;
        max-height: 100%;
        flex-wrap: wrap;
        overflow: hidden;

        & > .coachcard {
            flex-basis: 50%;
            height: 20%;

            & > .godBackground {
                background-size: cover;
            }
        }

        & > :nth-child(1).selectedCoachcard {
            flex-basis: 100%;
            height: calc(100vh - 4rem);
            
            margin-top: 0;
            margin-left: 0;
        }

        & > :nth-child(2).selectedCoachcard {
            flex-basis: 100%;
            height: calc(100vh - 4rem);
            
            margin-top: 0;
            margin-left: -50%;
        }

        & > :nth-child(3).selectedCoachcard {
            flex-basis: 100%;
            height: calc(100vh - 4rem);
            
            margin-top: calc((100vh - 4rem) * -0.2);
            margin-left: 0;
        }

        & > :nth-child(4).selectedCoachcard {
            flex-basis: 100%;
            height: calc(100vh - 4rem);
            
            margin-top: calc((100vh - 4rem) * -0.2);
            margin-left: -50%;
        }

        & > :nth-child(5).selectedCoachcard {
            flex-basis: 100%;
            height: calc(100vh - 4rem);
            
            margin-top: calc((100vh - 4rem) * -0.4);
            margin-left: 0;
        }

        & > :nth-child(6).selectedCoachcard {
            flex-basis: 100%;
            height: calc(100vh - 4rem);
            
            margin-top: calc((100vh - 4rem) * -0.4);
            margin-left: -50%;
        }

        & > :nth-child(7).selectedCoachcard {
            flex-basis: 100%;
            height: calc(100vh - 4rem);
            
            margin-top: calc((100vh - 4rem) * -0.6);
            margin-left: 0%;
        }

        & > :nth-child(8).selectedCoachcard {
            flex-basis: 100%;
            height: calc(100vh - 4rem);
            
            margin-top: calc((100vh - 4rem) * -0.6);
            margin-left: -50%;
        }

        & > :nth-child(9).selectedCoachcard {
            flex-basis: 100%;
            height: calc(100vh - 4rem);
            
            margin-top: calc((100vh - 4rem) * -0.8);
            margin-left: 0%;
        }

        & > :nth-child(10).selectedCoachcard {
            flex-basis: 100%;
            height: calc(100vh - 4rem);
            
            margin-top: calc((100vh - 4rem) * -0.8);
            margin-left: -50%;
        }
    }

    .coachcard__workoutname {
        margin: 1rem auto;
    }

    .coachworkout {
        font-size: 1rem;

        &__column__exercise{
            flex-basis: 50%;

            &__row {
                & > svg {
                    font-size: 2rem;
                }
            }

            &__suit {
                height: 3rem;
            }
        }
    }
}

@include mobile {
    @include mobileStyles;
}

@include tablet {
    @include mobileStyles;
}

@include landscape_tablet {
    @include mobileStyles;
}
