@import "../../mixins.scss";

.deckofdeathgame {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    &__playing-field {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        &__exercise {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &__text {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 1.5rem;
            }
        }
    }
}

.finished-workout {
    display: flex;
    flex-direction: column;

    &__text {
        margin: 2rem;
    }
}

.exitButton {
    cursor: pointer;
    position: absolute;
    left: 2%;
    top: 3%;
    transform: rotateY(180deg);
    
    & > svg {
        font-size: 3rem;
    }
}

@include mobile {
    .deckofdeathgame {
        justify-content: start;

        &__playing-field {
            flex-direction: column;
            text-align: center;
            width: 80%;
        }
    }
}