@import "../../mixins.scss";

.deckofdeathgame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    width: 100%;
    height: 100svh;
    box-sizing: border-box;

    &__playing-field {
        display: flex;

        &__exercise {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &__text {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 2rem;
            }
        }
    }
}

.finished-workout {
    font-size: 2rem;
    display: flex;
    flex-direction: column;

    &__text {
        margin: 2rem;
    }

    & > button {
        font-size: 1.6rem;
    }
}

@include mobile {
    .deckofdeathgame {
        justify-content: start;

        &__playing-field {
            flex-direction: column;
            margin-top: 6rem;
        }
    }
}