@import "../../mixins.scss";

.profile-page {
    display: flex;
    width: 100%;
    height: 100svh;
    justify-content: center;
    overflow-y: scroll;

    &__content {
        display: flex;
        flex-direction: column;
        width: 80%;

        &__top-section {
            padding: 3rem 0rem;
            width: 100%;
            display: flex;
            align-items: center;

            &__profile {
                display: flex;
                flex-direction: column;
                justify-content: center;

                &__edit-options {
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;
                    margin-top: 2rem;
                }
            }
        }

        &__completed-workouts {
            display: flex;
            flex-direction: column;

            &__info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 10px;
                text-align: center;
            }
        }
    }
}

.profile-card {
    height: 20rem;
    width: 16rem;
    border: 2px solid black;
    border-radius: 2%;
    background-color: white;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-image: url(/images/allSuitsWallpaper.jpg);
    background-size: cover;
    background-position: center;

    &__text {
        position: absolute;
        writing-mode: tb-rl;
        color: white;
        padding: .5rem;
        background-color: rgba(0, 0, 0, 0.39);
        border-radius: 0px 0px .5rem 0px;
    
        &.top-name {
            top: 0;
            text-orientation: upright;
        }
    
        &.bottom-name {
            transform: rotate(180deg);
            bottom: 0;
            right: 0;
            text-orientation: upright;
        }

        :hover {
            cursor: default;
        }
    }

    &__picture-container {
        width: 10rem;
        height: 10rem;
        margin: auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        &__pic {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: translate3d(0px, 0px, 0.1px);
            border: 2px solid aliceblue;
            position: absolute;

            &:active {
                transform: scale(0.98);
            }

            &:hover {
                cursor: pointer;
            }
        }

        &__preview-pic {
            border-radius: 50%;
            width:100%;
            height:100%;
            object-fit: cover;
            transform: translate3d(0px, 0px, 0.1px);
            border: 2px solid aliceblue;
            z-index: 999;
            position: absolute;
        }
    }

    &__edit {
        display: flex;
        align-items: center;
        padding: 2px 5px;
        border-radius: 3px;
        margin: 5px 0;

        &__input {
            position: absolute;
            padding-top: 4rem;
            height: 3rem;
            overflow: hidden;
        }

        &__text {
            margin-left: 5px;
        }
    }
}

.noWorkoutsCompleted {
    flex-grow: 1;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 1.5rem;

    word-wrap: break-word;
    text-align: center;
}

.proPicActionButtons {
    background-color: aliceblue;
    padding: .5rem;
    border-radius: 1rem;
}

.loadMoreButton {
    margin: 0 auto;
    padding-bottom: 2rem;
}

@mixin mobileStyles {
    .profile-page__content__top-section {
        flex-direction: column;

        & .statsRowContainer {
            width: 100%;
            margin-top: 2rem;
            margin-left: 0;
    
            & .statsContainer {
                flex-direction: row;
            }
        }
    }
}

@include mobile {
    @include mobileStyles;
}

@include tablet {
    @include mobileStyles;
}