@import "../../mixins.scss";

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.finished-page {
    width: 100%;

    &__information { 
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        justify-content: space-evenly;
        padding: 3rem;
        background-image: linear-gradient(to right bottom, aqua, cornflowerblue);
        
        &__element {
            box-shadow: 0 .4rem .8rem 0 rgba(black,0.2);
            background: white;
            margin: auto 1rem;
            width: 60%;
            font-size: larger;
            margin: 1rem 0;
            padding: 1rem;
            display: flex;
            opacity: 0;
            animation: 1s fadeIn ease-out forwards;

            &:nth-child(1) {
                animation-delay: .5s;
            }

            &:nth-child(2) {
                animation-delay: 1s;
            }

            &:nth-child(3) {
                animation-delay: 1.5s;
            }

            &:nth-child(4) {
                animation-delay: 2s;
            }

            &:nth-child(5) {
                animation-delay: 2.5s;
            }

            &.vertical {
                flex-direction: column;
            }

            &__label {
                text-align: center;
                font-size: larger;
            }
            
            &--section {
                display: flex;
                flex-direction: column;
                flex-basis: 50%;

                & > * {
                    flex-grow: 1;
                }

                &:first-child {
                    border-right: 1px solid black;
                }

                & > .subsection {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 1rem 0;

                    &.noPadding {
                        padding: 0;
                    }

                    &:not(:last-child) {
                        border-bottom: 1px solid black;
                    }

                    &.vertical {
                        flex-direction: column;
                        align-items: center;

                        & > * {
                            margin: 0.5rem;
                        }
                    }

                    &.spaceAround {
                        justify-content: space-around;
                    }

                    .profilePic__container > img {
                        width: 5rem;
                        height: 5rem;
                        border-radius: 50%;
                        object-fit: cover;
                        transform: translate3d(0px, 0px, 0.1px);
                    }

                    .info_block {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        margin: 0 1rem;

                        &.center {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

.paddingAllSides {
    padding: 1rem;
}

.homeButton {
    background: white;
    border-radius: 2rem;
    animation: 1s fadeIn ease-out forwards;
    animation-delay: 3s;

    & > div {
        margin: 0 auto;
    }
}

.graphElement {
    height: 25rem;
}

.smallText {
    font-size: small;
}

.bigText {
    font-size: larger;
}

.centered {
    text-align: center;
}

.suitIcon {
    font-size: 2rem;
}

.exerciseDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1rem;

    & > div {
        display: flex;
        flex-direction: column;
        align-items: center;

        &:not(:last-child)::after {
            content : "";
            margin-top: .5rem;
            width: 50%;
            border-bottom: 1px solid black;
        }
    }

    .centeredVertical {
        display: flex;
        align-items: center;
    }
}

.suitIcon {
    font-size: 2rem;
}

.workoutNameInput {
    display: flex;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;

    & > div {
        margin-right:.5rem;
    }
}

.starSection > svg:hover {
    cursor: pointer;
}

@include landscape_tablet {
    .finished-page {
        &__information {
            &__element {
                width: 70%;
            }
        }
    }
}

@include tablet {
    .finished-page {
        &__information {
            &__element {
                width: 80%;
                flex-direction: column;

                &--section:first-child {
                    border-right: 0;
                    border-bottom: 1px solid black;
                }
            }
        }
    }
}

@include mobile {
    .finished-page {
        &__information {
            &__element {
                width: 90%;
                flex-direction: column;

                &--section:first-child {
                    border-right: 0;
                    border-bottom: 1px solid black;
                }
            }
        }
    }
}