@import "../../mixins.scss";

.metricsBarContainer {
    display: flex;
    margin-top: 30px;
    width: 50%;
    justify-content: space-around;
}

.metricItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label {
    text-align: center;
    font-size: x-large;
}

.value {
    font-size: larger;
}

@include mobile {
    .metricsBarContainer {
        width: 100%;
    }
}

@include tablet {
    .metricsBarContainer {
        margin-top: 0;
        width: 100%;
    }
}

@include landscape_tablet {
    .metricsBarContainer {
        margin-top: 0;
        width: 100%;
    }
}