@import "../../mixins.scss";

.metricsBarContainer {
    display: flex;
    justify-content: space-evenly;
    position: absolute;

    font-size: 2rem;

    bottom: 0;
    right: 0;
    width: 100%;
    height: 15%;
    border-top: 3px solid cornflowerblue;
    background: linear-gradient(to bottom, #dae3eb, transparent);
}

.metricItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.label {
    text-align: center;
    font-size: x-large;
}

.value {
    font-size: larger;
}

@include mobile {
    .label {
        font-size: medium;
        word-wrap: break-word;
        width: 6rem;
    }

    .metricsBarContainer {
        height: 12%;
        padding: 0;
    }
}

@include tablet {
    .label {
        font-size: medium;
    }

    .metricsBarContainer {
        margin-top: 0;
        height: 10%;
        width: 90%;
    }
}

@include landscape_tablet {
    .label {
        font-size: larger;
    }

    .metricsBarContainer {
        margin-top: 0;
        height: 10%;
        width: 95%;
    }
}