@import "../../mixins.scss";

.navBar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    background: white;
    width: 10%;
    height: 100vh;
}

.titleText {
    color: cornflowerblue;
    cursor: pointer;
    font-size: xx-large;
    padding: 10px 0px;
    text-align: center;
}

.navBarButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: large;
}

.navBarButtonContainer:hover {
    cursor: pointer;
}

.icon {
    padding: 1rem;
    border-radius: 1.5rem;
}

.iconNormal {
    color: cornflowerblue;
    background: #F8F8F8;
}

.iconExpanded {
    color: white;
    background: cornflowerblue;
}

@include mobile {
    .titleText {
        font-size: small;
    }

    .navBar {
        flex-direction: row;
        height: 15%;
        width: 100vw;
    }

    .navBarButtonContainer { 
        margin: 0rem;
        font-size: small;
    }

    .icon {
        padding: .2rem;
        border-radius: .5rem;
    }
}

@include tablet {
    .titleText {
        font-size: medium;
    }

    .navBar {
        width: 13%;
    }

    .navBarButtonContainer { 
        margin: 0rem;
        font-size: small;
    }

    .icon {
        padding: .2rem;
        border-radius: .5rem;
    }
}

@include landscape_tablet {
    .titleText {
        font-size: medium;
    }

    .navBarButtonContainer { 
        margin: 0rem;
        font-size: medium;
    }

    .icon {
        padding: .2rem;
        border-radius: .5rem;
    }
}