@import "../../mixins.scss";

.navbar__button-container > svg {
    font-size: 2rem !important;
}

.navbar {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 1rem 3rem 0 rgba(0,0,0,.2);
    background: white;
    height: 100vh;
    padding: 2rem 1rem;

    &__home-button {
        color: cornflowerblue;
        cursor: pointer;
        font-size: 1.5rem;
        text-align: center;
    }

    &__button-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1rem;
        transition: transform .2s;
        cursor: pointer;
        border-radius: 1.5rem;
        color: cornflowerblue;

        &:hover,
        &:focus {
            transform: translateY(-.6rem);
        }
        
        &:active {
            transform: translateY(-.3rem);
        }
    }

    &__button-label {
        display: block;
    }
}

@include mobile {
    .navbar {
        flex-direction: row;
        height: 4rem;
        width: 100%;
        padding: 1rem 0.5rem;

        svg {
            font-size: 1rem !important;
        }

        &__home-button {
            font-size: 0.8rem;
        }
        
        &__button-container {
            margin: 0;
            display: inline-block;
            padding: 0;
            font-size: 0.8rem;
        }
    }
}