.titleSection {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
  
.deathRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 50px;
}

@media (max-width: 850px) {
    .deathRow {
        flex-direction: column;
    }
}

.buttonRow {
    display: flex;
    justify-content: center;
}

.errorRow {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    color: red;
}

