@import "../../mixins.scss";

.currentCardImg {
    height: 25rem;
}

.currentCardContainer {
    display: flex;
    justify-content: center;
    padding: 30px;
}

@include mobile {
    .currentCardImg {
        height: 15rem;
    }
}

@include tablet {
    .currentCardImg {
        height: 15rem;
    }
}