@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    background: aliceblue;
    font-family: 'Rubik', sans-serif;
}

.errorText {
    color: red;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}