@import "../../mixins.scss";

.statsRowContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    margin-left: 4rem;
    flex-grow: 1;
    height: 100%;
    font-size: 3rem;
}

.statsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.statContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem 0rem;
}

.statsRowTitleText {
    font-size: 4rem;
    color: cornflowerblue;
    padding: 1rem 0rem;
}

.statLabelText {
    font-size: large;
    text-align: center;
}

@include mobile {
    .statsRowContainer {
        margin: 0rem 1rem;
    }
}